.comment-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #1a214f;
}

#comment-body > p {
  margin: 5px 0px 10px 0px;
}

#comment-author > h4 {
  margin: 3px 0px;
}

#comment-author > p {
  margin: 3px 0px;
}
#trash-button {
  background-color: Transparent;
  border: none;
  cursor: pointer;
}

.trash {
  float: right;
  height: 25px;
  width: 25px;
}

.trash-hidden {
  display: none;
}

.trash:hover {
  rotate: -30deg;
}
