.comment-item {
  border-bottom: 1px solid #1a214f;
}

#comment-body > p {
  margin: 5px 0px 10px 0px;
}

#comment-author > h4 {
  margin: 3px 0px;
}

#comment-author > p {
  margin: 3px 0px;
}
