#navbar {
  text-align: center;
  background-color: #000000;
  padding: 2vw;
}

.nav--link {
  padding: 2vw 3vw;
  background-color: #666666;
  text-decoration: none;
  color: #f2f3ee;
}

.nav--link--selected {
  background-color: #222222;
  padding: 2vw 3vw;
  color: #f2f3ee;
  text-decoration: none;
}
