#navbar {
  text-align: center;
  background-color: #83b6ca;
  padding: 2vw;
}

.nav--link {
  padding: 2vw 3vw;
  background-color: #fdfcfb;
  text-decoration: none;
}

.nav--link--selected {
  background-color: #1e77aa;
  padding: 2vw 3vw;
  color: #f2f3ee;
  text-decoration: none;
}
