#query-form {
  display: flex;
  margin-top: 5px;
}

.queries {
  position: absolute;
  z-index: 1;
  text-align: left;
  justify-content: flex-start;
  padding: 25px 0px 25px 5px;
  align-self: start;
  width: 40vw;
  border-radius: 0px 0px 10px 0px;
  background-color: #fdfcfb;
}

.queries-hidden {
  display: none;
}

#query-button {
  position: absolute;
  z-index: 2;
  height: 25px;
  width: 40.65vw;
  border: 2px solid black;
  border-left: none;
  font-size: 18px;
  text-align: left;
  padding: 0;
}

#category-and-list {
  display: flex;
}
