#loading {
  text-align: center;
}

.review-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: center;
  align-content: center;
  border: 0;
  border-radius: 10px;
  margin: 5vw 10vw;
  outline: 0;
  padding: 2vw;
  background-color: #fafaf9;
}

.review-detail {
  list-style: none;
  border-bottom: 1px solid #976f7e;
  overflow: hidden;
  margin-bottom: 1vw;
}
.reviewimg {
  object-fit: cover;
  width: 14vw;
  height: 14vw;
  display: block;
  border-radius: 5px;
  float: left;
  margin-right: 20px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
.review-detail-content {
  display: inline-block;
  font-size: 1.5vw;
  text-align: left;
}

#review-link:link {
  text-decoration: none;
  color: black;
}

#review-link:hover {
  text-decoration: underline;
}

#review-link:visited {
  color: black;
}

#review-detail-title {
  margin: 0px;
  text-decoration: none;
}

#review-div {
  padding: 40px;
}
@media only screen and (min-device-width: 1300px) {
  #review-div {
    padding: 40px;
    margin-left: 22.5%;
    width: 50%;
  }
}
.review-container {
  text-align: left;
}

.body-container {
  border-bottom: 1px solid #456;
}

.content-reviewimg {
  object-fit: cover;
  width: 50%;
  height: 100px;
  border-radius: 10px;
}
