#loading {
  color: white;
  text-align: center;
}

.reviewedby > h2,
p {
  margin: 0px;
}

.review-date {
  margin-bottom: 10px;
}

.review-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: center;
  align-content: center;
  border: 0;
  border-radius: 10px;
  margin: 5vw 10vw;
  outline: 0;
  padding: 2vw;
  background-color: #83b6ca;
}

.review-detail {
  list-style: none;
  border-bottom: 1px solid #1a214f;
  overflow: hidden;
  margin-bottom: 1vw;
}
.reviewimg {
  object-fit: cover;
  width: 11.5vw;
  height: 11.5vw;
  display: block;
  border-radius: 5px;
  float: left;
  margin-right: 20px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
.review-detail-content {
  display: inline-block;
  font-size: 1.5vw;
  text-align: left;
}

#review-link:link {
  text-decoration: none;
  color: black;
}

#review-link:hover {
  text-decoration: underline;
}

#review-link:visited {
  color: black;
}

#review-detail-title {
  margin: 0px;
  text-decoration: none;
}

#review-footer {
  display: flex;
  padding: 10px 0px 10px 0px;
}

#review-footer > h4 {
  margin: 1px 15px 1px 0px;
}

#review-footer > p {
  display: flex;
  margin: 1px 5px 1px 0px;
}

#review-div {
  padding: 40px;
}
@media only screen and (min-device-width: 1300px) {
  #review-div {
    padding: 40px;
    margin-left: 22.5%;
    width: 50%;
  }
}
.review-container {
  padding: 20px;
  background-color: #83b6ca;
  border-radius: 10px;
  text-align: left;
}

.reviewcomments {
  margin: 5px 0px 0px 0px;
}

#comment-author > p {
  margin: 10px;
}

#comment-body > p {
  margin: 10px;
}

.body-container {
  border-bottom: 1px solid #1a214f;
}

.content-reviewimg {
  object-fit: cover;
  width: 50%;
  height: 100px;
  border-radius: 10px;
}

#heart {
  margin: 0;
  color: red;
  display: inline-block;
}

.like-review-container {
  display: flex;
}

.heart-button {
  font-size: 4vw;
  background-color: transparent;
  border: none;
}

.heart-button > p {
  padding: 0;
  margin: 0;
  color: white;
  cursor: pointer;
}

.heart-button-active {
  font-size: 4vw;
  background-color: transparent;
  border: none;
}

.heart-button-active > p {
  padding: 0;
  margin: 0;
  color: red;
  cursor: pointer;
}

@media only screen and (min-device-width: 600px) {
  .heart-button {
    font-size: 20px;
    background-color: transparent;
    border: none;
  }

  .heart-button > p {
    padding: 0;
    margin: 0;
    color: white;
    cursor: pointer;
  }

  .heart-button-active {
    font-size: 20px;
    background-color: transparent;
    border: none;
  }

  .heart-button-active > p {
    padding: 0;
    margin: 0;
    color: red;
    cursor: pointer;
  }
}

#msg-text {
  text-align: center;
  color: #fdfcfb;
}

#err-msg {
  text-align: center;
}
